extends layout

block content
  h1 Brand: #{brand.brand_name}

  if brand_watches.length

    p #[strong Delete the following watches before attempting to delete this brand.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Watches

      dl
      each watch in brand_watches
        dt
          a(href=watch.url) #{watch.name}

  else
    p Do you really want to delete this Brand?

    form(method='POST' action='')
      div.form-group
        input#brandid.form-control(type='hidden',name='brandid', required='true', value=brand._id )

      button.btn.btn-primary(type='submit') Delete
