extends layout

block content
  h1= title

  ul
    each watch in watch_list
      li
        a(href=watch.url) #{watch.name}
        |  (#{watch.brand.brand_name})

    else
      li There are no watches.
